.footer {
  margin-top: 3.75rem;
  font-size: 1.6rem;
  background-color: hsl(280, 9%, 94%);
  .section__footer-top {
    max-width: 73.125rem;
    padding: 3.375rem 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .box__inner-container {
      width: 100%;
      padding: 0;
      justify-content: space-between;
      .box__footer-logo {
        max-width: 18.75rem;
        margin-right: 1.875rem;
        .text__footer-logo {
          color: hsl(268, 22%, 15%);
          font-family: "Roboto", sans-serif;
          font-size: 2.188rem;
          font-weight: 900;
          line-height: 1;
        }
        .text__footer-description {
          margin-top: 2.625rem;
          font-size: 1.063rem;
        }
      }
      .box__footer-content {
        display: flex;
        .box__footer-info {
          .text__footer-title {
            display: block;
            color: hsl(240, 4%, 10%);
            font-family: "Roboto", sans-serif;
            font-size: 1.25rem;
            font-weight: 700;
          }
          .list__footer-info {
            li {
              text-align: left;
              .text__footer-item {
                font-size: 1.4rem;
                margin-block-start: 10px;
                transition: 0.25s ease;
                font-size: 1.063rem;
              }
            }
          }
          &:not(:last-child) {
            margin-right: 2.5rem;
          }
        }
      }
    }
  }
}
