.box__search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  padding: 10px;
  border-radius: 4rem;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  transition: width 1.2s cubic-bezier(0.55, 0.13, 0.25, 1.25);
}

.box__search-box .box__search-result {
  opacity: 0;
}

.box__search-result li {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__search-input {
  opacity: 0;
  transition: opacity 1.5s;
}

.form__search-input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}

.button__search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.66, -0.01, 0.28, 0.96);
  background-color: var(--dark-color);
}

.icon__start-search,
.icon__end-search {
  color: var(--white-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.icon__end-search {
  opacity: 0;
}

.box__seach-box--show {
  width: 100%;
}

.box__seach-box--show .form__search-input {
  opacity: 1;
}

.box__seach-box--show .button__search-button {
  transform: rotate(90deg);
}

.box__seach-box--show .icon__start-search {
  opacity: 0;
}

.box__seach-box--show .icon__end-search {
  opacity: 1;
}

.box__search-box .box__form-input {
  display: none;
}

.box__seach-box--show .button__search-button {
  right: 10px;
}

.box__search-box.box__seach-box--show {
  height: 50px;
}

.box__search-box.box__seach-box--show .box__form-input {
  display: block;
  width: 100%;
  height: 100%;
}

.box__search-box.box__seach-box--show .box__search-content {
  width: calc(100% - 40px);
  position: relative;
}

.box__search-box.box__seach-box--show .form__search-input {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 1;
  padding-left: 10px;
  transition: opacity 1.5s;
}

.box__search-box.box__seach-box--show .box__search-result {
  opacity: 1;
  position: absolute;
  display: flex;
  width: 850px;
  height: 460px;
  top: 100%;
  left: -10px;
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 460px;
  border-radius: 10px;
  box-shadow: 13px 8px 1.875rem -5px rgb(0, 0, 0, 0.13);
}

.box__search-box.box__seach-box--show .box__image-owner {
  width: 30%;
  overflow-y: scroll;
  padding-top: 10px;
}

.box__search-box.box__seach-box--show .list__image-user {
  padding: 0 10px 0 10px;
}

.box__search-box.box__seach-box--show .list__image-user .list-item__image-user {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.box__search-box.box__seach-box--show
  .list__image-user
  .list-item__image-user:first-child {
  margin-top: 0;
}

.box__search-box.box__seach-box--show .list__image-user .box__image {
  width: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.box__search-box.box__seach-box--show .list__image-user .box__image {
  margin-right: 14px;
}

.box__search-box.box__seach-box--show .list__image-user .text__user-name {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 200;
  font-weight: bold;
}

.box__search-box.box__seach-box--show .box__image-container {
  position: relative;
  width: 100%;
  padding: 5px;
  overflow-y: scroll;
  border-radius: 10px;
}

.box__search-box.box__seach-box--show .box__message-alert {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  left: 50%;
  top: 50%;
}

.box__search-box.box__seach-box--show .list-item__search-result {
  display: flex;
}

.box__search-box.box__seach-box--show .list-item__search-result .box__image {
  width: 50%;
}

.box__search-box.box__seach-box--show
  .list-item__search-result
  .text__search-title {
  width: 50%;
}

.box__search-result .list-item__search-result {
  font-size: 15px;
  margin-top: 10px;
}

.box__search-result .list-item__search-result:first-child {
  margin-top: 0;
}

.swiper {
  height: 100%;
}

.swiper .swiper-slide {
  height: 402px;
}

.swiper .swiper-slide .box__image {
  height: 200px;
}

.swiper .swiper-slide .box__image {
  margin: 0 auto;
}

.swiper .swiper-slide .text__search-title {
  display: block;
  width: 100%;
  white-space: wrap;
  text-align: center;
}

.swiper .box__card {
  max-width: 350px;
  height: 100%;
  background: white;
  padding: 8px;
}

.swiper .box__card .box__user {
  display: flex;
}

.swiper .box__card .box__user .box__user-image {
  width: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.swiper .box__card .box__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.swiper .box__card .text__card-created {
  color: #65676b;
  font-size: 13px;
}

.swiper .box__card .box__tag {
  margin: 5px 0;
}

.swiper .box__card .box__tag .list__picture-tag {
  display: flex;
}

.swiper .box__card .box__tag .list__picture-tag li:not(:last-child) {
  margin-right: 10px;
}

.swiper .box__card .box__card-contents .box__image-text {
  font-style: italic;
  white-space: wrap;
  line-height: 1.2;
  height: 67px;
}

.swiper
  .box__card
  .box__card-contents
  .box__image-text
  .text__user-comment:not(:last-child) {
  margin-bottom: 5px;
}

.swiper .box__card .box__card-contents .box__card-image {
  margin-top: 10px;
  height: 240px;
}

.swiper .box__card .box__user-action {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.swiper .box__card .icon {
  width: 20px;
  border-radius: 100%;
  margin-right: -0.1rem;
}

.swiper .box__card .box__function-buttons {
  display: flex;
}

.swiper .box__card .icon:nth-child(1) {
  z-index: 3;
}

.swiper .box__card .icon:nth-child(2) {
  z-index: 2;
}

.swiper .box__card .icon:nth-child(3) {
  z-index: 1;
}

.swiper .box__card .list__action-button {
  display: flex;
}

.swiper .box__card .list__action-button li {
  list-style: none;
}

.swiper .box__card .box__function-buttons img:last-of-type {
  margin-right: 0.3rem;
}

.swiper .box__card .social-proof-comments {
  margin-right: 0.8rem;
}

.swiper .box__card .box__card-bottom__reaction {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgb(228, 228, 228);
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 576px) {
  .box__seach-box--show {
    width: 290px;
  }
}
