header {
  .box__header-top {
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    .box__inner-container {
      .text__header-logo {
        .box__image {
          width: 116px;
          margin: auto;
        }
      }
      .box__header-actions {
        display: none;
        .box__todayNew {
          .box__bestSeller {
            position: relative;
            width: 320px;
            height: 32px;
            line-height: 1em;
            background: #fff;
            .text__module-title {
              display: block;
              font-size: 13px;
              font-weight: bold;
              color: #5c5c5c;
              padding: 10px 0 0 8px;
            }
            .box__bestSeller-contents {
              width: 192px;
              height: 21px;
              overflow: hidden;
              position: absolute;
              left: 85px;
              top: 6px;
              .slide {
                width: 100%;
                height: auto;
                position: absolute;
                ul {
                  font-size: 12px;
                  li {
                    width: 100%;
                    height: 14px;
                    overflow: hidden;
                    text-overflow: clip;
                    margin: 4px 0;
                    padding-left: 10px;
                    a {
                      display: block;
                      font-size: 13px;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
            .box__slide-control {
              position: absolute;
              top: 10px;
              right: 18px;

              .button__slide {
                display: inline-block;
                width: 12px;
                height: 15px;
              }

              .button__slide-start {
                margin-right: 2px;
                background: url("../../images/banner_start.png") center center
                  no-repeat;
              }

              .button__slide-stop {
                background: url("../../images/banner_stop.png") center center
                  no-repeat;
              }
            }
            .slide_shortcut {
              display: none;
              position: absolute;
              top: 28px;
              left: 7px;
              width: 172px;
              background: #fff;
              -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
              box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
              z-index: 333;
              padding: 13px;
              border-radius: 3px;
              ul {
                li {
                  padding: 6px 0;
                }
              }
            }
          }
        }
      }
      .box__mobile {
        .box__mSideBar {
          visibility: hidden;
          overflow-y: scroll;
          -ms-scroll-chaining: none;
          overscroll-behavior: contain;
          position: fixed;
          top: 0;
          z-index: 20;
          left: -100%;
          width: 100%;
          max-width: 320px;
          height: 100vh;
          padding: 20px;
          box-sizing: border-box;
          transition: 0.5s ease;
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
          background: hsl(0, 100%, 100%);
          &.active {
            left: 0;
            visibility: visible;
          }
          .box__mSideBar-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            margin-bottom: 10px;
            border-bottom: 2px solid hsl(0, 0%, 93%);

            .text__menu-title {
              color: hsl(353, 100%, 78%);
              font-size: 1.125rem;
              font-weight: 600;
            }
            .button__mSidebar-close {
              color: hsl(0, 0%, 13%);
              font-size: 22px;

              ion-icon {
                --ionicon-stroke-width: 50px;
              }
            }
          }

          .list__mSidebar-menu {
            margin-bottom: 30px;

            .list-item__mSidebar-menu {
              border-bottom: 1px solid hsl(0, 0%, 93%);

              .button__mSidebar-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text__menu-title {
                  color: hsl(0, 0%, 27%);
                  font-size: 0.938rem;
                  font-weight: 500;
                  padding: 12px 0;
                }
                .box__icon {
                  font-size: 14px;
                  ion-icon {
                    color: hsl(0, 0%, 27%);
                    --ionicon-stroke-width: 90px;
                  }
                  .add-icon {
                    display: block;
                  }
                  .remove-icon {
                    display: none;
                  }
                }
                &.active {
                  .box__icon {
                    .add-icon {
                      display: none;
                    }
                    .remove-icon {
                      display: block;
                    }
                  }
                }
              }

              .list__mSidebar-submenu {
                visibility: hidden;
                overflow: hidden;
                max-height: 0;
                margin-left: 10px;
                transition: 0.5s ease-in-out;

                &.active {
                  visibility: visible;
                  max-height: 148px;
                }

                .list-item__mSidebar-submenu {
                  .text__mSubCategory {
                    font-size: 0.938rem;
                    color: hsl(0, 0%, 47%);
                    font-weight: 300;
                    padding: 6px 0;

                    &:hover {
                      color: hsl(0, 0%, 33%);
                    }
                  }
                }
              }
            }
          }
          .box__mSidebar-bottom {
            .list__mSidebar-function {
              margin-bottom: 20px;

              .list-item__mSidebar-menu {
                border-bottom: none;
                .button__mSidebar-menu {
                  .text__menu-title {
                    font-size: 0.938rem;
                    font-weight: 500;
                    color: hsl(0, 0%, 13%);
                    padding: 12px 0;
                  }
                }
                .list__mSidebar-submenu {
                  margin-left: 0;
                  border: 1px solid hsl(0, 0%, 93%);
                  border-radius: 90px;
                  padding: 0 15px;
                  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);

                  .list-item__mSidebar-submenu {
                    &:not(:last-child) {
                      border-bottom: 1px solid hsl(0, 0%, 93%);
                    }
                  }
                }
              }
            }
            .list__mSidebar-social {
              display: flex;
              justify-content: center;
              align-items: center;

              li {
                .social-link {
                  color: hsl(0, 0%, 13%);
                  font-size: 20px;
                  padding: 10px;
                  box-sizing: border-box;
                  border-radius: 10px;
                  background: hsl(0, 0%, 93%);
                }
              }
            }
          }
        }

        .box__mobile-navigation {
          z-index: 2;
          position: fixed;
          bottom: 0;
          left: 50%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          max-width: 500px;
          margin: auto;
          padding: 5px 0;
          box-sizing: border-box;
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
          background: hsl(0, 100%, 100%);
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);

          .button__navigation-menu {
            position: relative;
            font-size: 26px;
            color: hsl(0, 0%, 13%);
            padding: 10px;
            box-sizing: border-box;

            .count {
              position: absolute;
              top: 0;
              right: 0;
              color: hsl(0, 100%, 100%);
              font-size: 12px;
              font-weight: 500;
              line-height: 1;
              padding: 2px 4px;
              box-sizing: border-box;
              border-radius: 20px;
              background: hsl(0, 100%, 70%);
            }
          }
        }
      }
    }
  }
  .box__header-bottom {
    padding-bottom: 72px;
    .box__header-navigation {
      display: none;

      .list__header-menu {
        .list-item__header-menu {
          .text__menu-title {
            position: relative;
            color: hsl(0, 0%, 27%);
            font-size: 0.875rem;
            font-weight: 600;
            text-transform: uppercase;
            transition: 0.2s ease;

            &:hover {
              color: hsl(353, 100%, 78%);

              &:after {
                transform: scaleX(1);
              }
            }
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              transform: scaleX(0);
              transform-origin: left;
              transition: 0.2s ease;
              background: hsl(353, 100%, 78%);
            }
          }
        }
      }
    }
    .box__control-box {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      font-size: 1.5em;
      z-index: 10;
      cursor: pointer;
      .button__search {
        position: relative;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;

        &.active {
          left: 0;
        }
      }
      .button__close {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;

        font-size: 20px;
        margin-left: 5px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        scale: 0;

        &.active {
          opacity: 1;
          visibility: visible;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
          scale: 1;
        }
      }
    }
    .box__search-box {
      position: absolute;
      right: -100%;
      width: 100%;
      display: flex;
      background: #fff;
      align-items: center;
      padding: 0 90px 0 90px;
      transition: 0.5s ease-in-out;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.25em;
        background: #fff;
        padding-left: 10px;
        color: hsl(0, 0%, 27%);
        font-size: 0.875rem;
        font-weight: 600;
      }
      &.active {
        right: 0;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  }
  &.active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
  }
}
