@media (min-width: 1200px) {
}

@media (min-width: 982px) {
}

@media all and (min-width: 861px) and (max-width: 1200px) {
}

@media all and (min-width: 760px) and (max-width: 860px) {
  .footer {
    .box__inner-container {
      max-width: 720px;
      margin: 0 auto;
    }
  }
}

@media all and (min-width: 360px) and (max-width: 759px) {
  .footer {
    margin-top: 20px;
    .section__footer-top {
      padding: 40px 0 100px 0;
      max-width: 330px;
      margin: 0 auto;
      .box__inner-container {
        display: block;
        .box__footer-logo {
          margin-bottom: 15px;
          .text__footer-description {
            margin-top: 15px;
          }
        }
        .box__footer-content {
          display: block;
          .text__footer-title {
            &:not(:last-child) {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 319px) and (max-width: 359px) {
}
