@media (min-width: 1200px) {
  .section__top {
    .container {
      max-width: 1170px;
      margin: 0 auto;
    }
  }
}

@media all and (min-width: 861px) and (max-width: 1200px) {
  .box__inner-container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0;
  }
  .section__products {
    .sectiion__main {
      max-width: 830px;
      margin: 0 auto;
    }
    .section__top {
      max-width: 830px;
      margin: 0 auto;
      .container {
        max-width: 830px;
        margin: 0 auto;
        .box__sub-slider {
          .box__layout {
            .box__home-content {
              margin-left: 0;
              .box__button-group {
                .button__slider-move {
                  width: 35px;
                  height: 35px;
                }
              }
            }
            .box__home-slider {
              .list__home-slider {
                .list-item__slider {
                  .box__slider-content {
                    .box__slider-picture {
                      height: 265px;
                    }
                  }
                  &:not(:last-child) {
                    margin-right: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .section__center {
      .box__inner-container {
        max-width: 830px;
        .box__scrollbar {
          width: calc(100% - 271px);
        }
      }
    }
    .section__bottom {
      max-width: 830px;
      .box__inner-container {
        display: block;
      }
    }
  }
}

@media all and (min-width: 760px) and (max-width: 860px) {
  .section__products {
    .section__top {
      .container {
        max-width: 720px;
        margin: 0 auto;
        .box__sub-slider {
          .text__section-title {
            margin-left: 15px;
          }
          .box__layout {
            display: block;
            .box__home-content {
              margin-bottom: 15px;
              .text__slider-description {
                font-size: 18px;
              }
            }
            .box__home-slider {
              .list__home-slider {
                .list-item__slider {
                  .box__slider-content {
                    .box__slider-picture {
                      height: 255px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .section__center {
      .box__inner-container {
        max-width: 720px;
        .box__scrollbar {
          width: calc(100% - 271px);
        }
      }
    }
    .section__bottom {
      max-width: 720px;
      .box__inner-container {
        display: block;
      }
    }
  }
}

@media all and (min-width: 360px) and (max-width: 759px) {
  .section__products {
    .section__main {
      .box__main-slider {
        .box__main-item {
          .box__main-contents {
            padding: 11px;
            bottom: 0;
            .text__main-title {
              font-size: 25px;
            }
          }
        }
      }
    }

    .section__top {
      margin-bottom: 30px;
      .container {
        max-width: 300px;
        margin: 0 auto;
        .box__sub-slider {
          .text__section-title {
            margin: 0;
          }
          .box__layout {
            display: block;
            .box__home-content {
              margin: 0 0 15px 0;
              .text__slider-description {
                font-size: 18px;
              }
              .box__button-group {
                .button__slider-move {
                  width: 35px;
                  height: 35px;
                }
              }
            }
            .box__home-slider {
              .list__home-slider {
                .list-item__slider {
                  min-width: 100%;
                  .box__slider-content {
                    .box__slider-picture {
                      height: 255px;
                      padding: 0;
                    }
                  }
                  &:not(:last-child) {
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .section__center {
      overflow-x: scroll;
      max-width: 300px;
      margin: 0 auto;
      .box__inner-container {
        display: block;
        max-width: 300px;
        margin-left: -15px;
        .box__stock-category {
          display: none;
          height: auto;
        }
        .box__scrollbar {
          width: auto;
          margin-bottom: 30px;
          .list__scrollbar {
            overflow: visible;
            .list-item__scrollbar {
              width: auto;
              .box__scrollbar-image {
                width: 300px;
              }

              .box__tag {
                .text__slider-title {
                  font-size: 15px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
    .section__bottom {
      max-width: 300px;
      width: 100%;
      .box__inner-container {
        max-width: 100%;
        padding: 0;
        display: block;
        .box__gallery {
          display: block;

          .section__gallery-large {
            width: 100%;
            &:not(:last-child) {
              margin: 0 0 15px 0;
            }
            .box__gallery-item {
              &:not(:last-child) {
                margin-bottom: 15px;
              }
              .box__gallery-content {
                .text__gallery-title {
                  font-size: 25px;
                }
                .text__gallery-description {
                  font-size: 1rem;
                }
              }
            }
            .section__gallery-bottom {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 319px) and (max-width: 359px) {
}
